body {
    font-family: Poppins, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FFE4C4
    ;
}

.recipe-container {
    max-width: 800px;
    margin: 20px auto;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4%;
}

.recipe-image {
    width: 100%;
    height: auto;
    display: block;
    margin-bottom: 20px;
    border-radius: 4%;
}

.recipe-info {
    max-width: 800px;
    margin: 20px auto;
    background-color: #FFF0F5;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 4%;
}

.recipe-info p {
    color: palevioletred;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    margin: 10px 0;
}

h1 {
    color: #333;
}

h2 {
    color: sienna;
}

ul, ol {
    margin-left: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    border: 0px solid #ddd;
    padding: 8px;
    text-align: left;
}

td.cor {
    font-weight: bold;
    color: sienna;
}
